@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;800&display=swap'); 
/*Importe de fuente externa*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto Slab', serif; /*Uso de fuente "Roboto Slab"*/
    background-color: #0e0e0e; /*Color negro de fondo*/
    background-image: url(./assets/images/ahorcadoHome.png); /*Definicion de imagen del inicio*/
    background-position: center left; /*Posicion de fondo centro izquierda*/
    background-size: 400px; /*Tamaño de fondo de 400px*/
    background-repeat:repeat-x; /*Repeticion de fondo en eje X*/
    background-repeat: space; /*Espacio presente entre repeticion de fondo*/
}

h1{
    margin: 13px 0; /*Margen de 13px X 0*/
    text-align: center; /*Texto centrado*/
}