.container-team{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #f0f8ff;
    margin:auto;
}

.team{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.developer{
    background-color: #070707;
    width: 280px;
    height: 400px;
    text-align: center;
    margin: 20px;
    transition: .7s box-shadow ease-in-out;
}

.developer-image{
    width: 100%;
}

.developer:hover{
    box-shadow: 0px 0px 1em 1.3em rgba(51, 51, 51, 0.466);
}

.developer-description{
    color: #f5f5f5;
}

.developer-perfil-github{
    text-decoration: none;
    font-size: 1.55em;
    font-weight: bold;
    color: #f5f5f5;
}

.container-team-boton a{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px;
}